
body{

    margin: 0px;
    background-color: #d2cfd0;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.1em;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2em;
}

header{
    display: inline-block;
}
button:focus {outline:0;}

/*knapp hamburgare*/

 .w3-button{
    margin-top: 50px;
    padding-left:20px;
    
}

.logo{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.logo img{
    width: 60%;
    display: flex;
    justify-content: center;
   
}

/* SIDEBAR */
.logosidebar{
 padding: 40px 0px 40px 40px;
 
 
}
.logosidebar img{
    width: 80%;
    display:flex;
    justify-content: center;
    margin-top:-20px;
    
  
}
.logosidebar a {
    margin-top:0px;
    position:absolute;
    top:0px;
    right:0px;
  
}
/* jumbotronen*/
.w3-blue{
    background-image: url(image/jumbotron/forest1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    
}

/* email,password, categories, bakgrund sidebar*/
.w3-sidebar{
    color:#fff!important;
    background-color:#113a55!important;
}

.home-about{
  margin-top: 20PX;
  display: flex;
  justify-content: space-around;

}

/*home och about symbol*/
i{
    padding:5px;
}

/*categories - headline*/
h3{
 font-size: 1em;
 
}
.categories{
display: flex;
justify-content: flex-start;
padding-left: 10px;
margin-top: 30px;
   
}


h4{
    font-size: 1em;
    
}


.registrationemail , .registrationpassword{
  display: flex;
  justify-content:flex-start;
  padding-left: 10px;
  font-size: 0.8em;
  margin-bottom: -10px;
}


input[type=text] , input[type=password] {
   font-size: 0.8em;
   letter-spacing: 0.05em; 
   color: black;
   width: 220px;
}

/*categories buttons*/

 .menu_button button[type=submit]{
    background-color: transparent;
    border: none;
    width: 120px;
    height: 10px;
    display: flex;
    align-content: flex-start;
    margin-left: 10px;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    color: whitesmoke;
    
}

.menu_send input[type=submit] {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 1em;
  font-weight: 100;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
    
}
.register{
  display: flex;
  align-content: flex-start;
  margin-left: 10px;
  margin-top: -15px;
  font-size: 0.8em;
}

.linkprofile{
  text-align: left;
  margin-left: 15px;
  font-size: 0.8em;
  margin-top: 30px;
  
}

.main{
    position: relative;
    top:200px;
    padding-left: 2%;
}
@media screen and (min-width: 1024px) {

    
.logosidebar{
        display: none;
    }
    
.w3-sidebar{
    margin-top:200px;
}
    .w3-button{
        display: none;
    }

    .main{
        padding-left: 20%;
    }
    
}    
    


