
body{
    margin: 0px;
    background-color: #d2cfd0;
    //font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: #1b89c9;
    font-size: 0.9em;
}

h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

nav a {
    color:white;
    font-size: 1.1em;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 3px;
}

p {
    font-size: 0.9em;
}

header{
    display: inline-block;
    position: relative;
}

button:focus {outline:0;}

.clear{
    clear: both;
}
/*knapp hamburgare*/

 .w3-button{
    margin-top: 50px;
    padding-left:20px;
    
}

.logo{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.logo img{
    width: 60%;
    display: flex;
    justify-content: center;
   
}

/* SIDEBAR */
.logosidebar{
 padding: 40px 0px 40px 40px;
 
 
}
.logosidebar img{
    width: 80%;
    display:flex;
    justify-content: center;
    margin-top:-20px;
    
  
}
.logosidebar a {
    margin-top:0px;
    position:absolute;
    top:0px;
    right:0px;
  
}
/* jumbotronen*/
.w3-blue{
    background-image: url(image/jumbotron/forest1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    
}

/* email,password, categories, bakgrund sidebar*/
.w3-sidebar{
    color:#fff!important;
    background-color:#113a55!important;
    z-index: 3;
}

.home-about{
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 45px;
    display: flex;
    justify-content: space-between;

}

.home-about a{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

/*home och about symbol*/
i{
    padding:5px;
}

/*categories - headline*/
h3{
 font-size: 1em;
 
}
.categories{
display: flex;
justify-content: flex-start;
padding-left: 15px;
margin-top: 30px;
   
}


h4{
    font-size: 1em;
    
}


.registrationemail , .registrationpassword{
  display: flex;
  justify-content:flex-start;
  margin-bottom: 10px;
    padding-left: 10px;
}


input[type=text] , input[type=password] {
   font-size: 0.8em;
   letter-spacing: 0.05em; 
   color: black;
   width: 220px;
    font-weight: 300;
}

/*categories buttons*/

 .menu_button button[type=submit]{
    background-color: transparent;
    border: none;
    display: flex;
    align-content: flex-start;
    margin-left: 10px;
    font-size: 0.9em;
    letter-spacing: 0.02em;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.menu_send input[type=submit]{
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #000000;
  font-size: 1em;
  font-weight: 100;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
    border: none;
}
.register{
  display: flex;
  align-content: flex-start;
  margin-left: 10px;
  margin-top: -15px;
  font-size: 0.8em;
}

.linkprofile{
  text-align: left;
  margin-left: 15px;
  font-size: 0.8em;
  margin-top: 30px; 
}

.linkprofile h3 {
    text-transform: uppercase;
    font-size: 1.2em;
}

.main{
    position: relative;
    top:200px;
    padding-left: 2%;
}

/*start styling posts - under categories*/

/*title, date, category, text to post*/

.post h2, .comment_section label, .headlines-comment h2, .comment-display p{
  // margin-left: 5%;

}
.post p{
    width: 90%;
}


/*background - white comment and post*/
.post, .comment_section, .user_profile, .about, .create_post{
    background-color:white;
    width:95%;
    margin-left: 5px;
    margin-bottom: 30px;
    border-radius: 3px;
}


/*the image in the post*/
.post img {
 width:100%; 
 height:auto;
}

/*links delete and edit*/
.post a , .userdetails a{
    color: #1b89c9;
    font-size: 1em;
    
}
/*user details - Comment link */

.userdetails p{
    font-size: 0.8em;
    
}

/*start styling comments - some included in above*/
textarea{
    border:solid black 0.5px;
    height: 80px;
    width: 70%;
    margin-top: 5px;
}

/* information under comment and comment text*/
.date{
margin-top: -20px; 
font-weight: lighter;
}
.name-email{
    font-weight: 500;
    font-size: 1.5;
}
.content, hr{
    width: 70%; 
}

/*user profile*/
.user_profile, .post, .comment_section, .about,.create_post{
    padding: 30px; 
    margin-top:30px;
}

.create_post_btn,.create_post input[type=submit]{
    display: inline-block;
    margin-top: 20px;
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    color: #000000;
    font-size: 1em;
    font-weight: 100;
    padding: 0px 20px 0px 20px;
}

.create_post_btn:hover, .comment_section input[type=submit]:hover, .menu_send input[type=submit]:hover{
    background: #f2f2f2;
}

.w3-half h2{
    text-transform:uppercase;
    font-size:1em;
}

/*create post*/

.create_post .space input[type=text], .create_post .space textarea, .comment_section textarea {
    border-radius: 3px;
    border: none;
    box-shadow: inset 0 0 5px #999999;
    background-color: #f7f7f7;
    padding:8px;
}
.create_post .space input, .create_post .space textarea {
    margin-bottom: 20px;
}
    

/*send button*/
.comment_section input[type=submit]{
  display: flex;
  justify-content: flex-start;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #000000;
  font-size: 1em;
  font-weight: 100;
  padding: 0px 20px 0px 20px;
}

/*footer*/
.footer{
    background-color:darkblue;
}

@media screen and (min-width: 992px) {
    .main{
        top: 0px; 
    }
.w3-top{
    position: relative;
    z-index: 2; 
    }
    
.w3-sidebar{
    padding-top: 20px;
    z-index: 1;
}
    .w3-button{
        display: none;
    }

    .main{
        padding-left: 20%;
    }
    
    /*start styling posts - under categories-desktop*/
    .post, .comment_section, .user_profile, .about, .create_post{
        margin-left: 10%;
        width: 70%;
    }   
   .userdetails a, .userdetails p{
  font-size: 0.9em; 
}

}    
    


